<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Maze</title>
        <link rel="icon" href="../assets/favicon.svg" />
        <link rel="stylesheet" href="../style/styles.css" />
        <script src="../script/main.js" type="module" defer></script>
    </head>
    <body>
        <h1 class="title"><span>MAZE</span></h1>
        <div class="layout">
            <main>
                <div class="maze" id="mazeContainer"></div>
            </main>
            <aside class="aside">
                <button type="button" id="generateButton" class="button">
                    Generate maze
                </button>
                <button type="button" id="solveButton" class="button">
                    Solve
                </button>
            </aside>
        </div>
        <div class="log-section">
            <h2>Log</h2>
            <hr />
            <div class="log-container" id="logContainer"></div>
        </div>
    </body>
</html>
