@import 'reset.css';

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;

    > span {
        transform: perspective(5rem) rotateX(30deg) scale(3, 1.2);
        letter-spacing: 2;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: monospace;
    line-height: 1.2;

    margin: auto;
    max-width: calc(70vh + 10rem);
    font-size: 16px;
    padding: 2rem;
    gap: 2rem;

    @media (max-width: 800px) {
        max-width: 75vh;
    }

    @media (prefers-color-scheme: dark) {
        background: rgba(32, 32, 32);
        color: white;
    }
}

.layout {
    gap: 1rem;

    display: grid;
    grid-template-columns: 1fr auto;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.maze {
    display: flex;
    flex-direction: column;

    user-select: none;
    -webkit-user-select: none;

    background-color: rgba(208, 208, 255);

    &:empty {
        aspect-ratio: 1;
    }

    > div {
        display: flex;
        flex-direction: row;

        > button {
            flex-grow: 1;
            aspect-ratio: 1;
            touch-action: manipulation;
            cursor: pointer;

            background-position: center;
            background-repeat: no-repeat;
            background-size: 0%;

            background-color: rgba(208, 208, 255);
            border: 1px solid rgba(196, 196, 248);

            will-change: border-color, box-shadow, background-color;

            transition:
                box-shadow 150ms,
                transform 150ms,
                border-color 100ms,
                background-color 100ms;

            box-shadow:
                rgba(0, 0, 0, 0.4) 0 0px 0px,
                rgba(208, 208, 255) 0 0px 0px;

            &:hover {
                transform: translateY(-2px);
                box-shadow:
                    rgba(0, 0, 0, 0.4) 0 4px 8px,
                    rgba(208, 208, 255) 0 2px 0px;
            }

            &:is(.generating *) {
                transition:
                    box-shadow 250ms,
                    transform 250ms,
                    background-size 250ms,
                    border-color 50ms,
                    background-color 50ms;
                transition-delay: calc(var(--j) * 20ms + var(--i) * 2ms);
            }

            &[data-wall] {
                background-color: rgba(32, 32, 64);
                border-color: rgba(32, 32, 64);

                transform: translateY(-6px);
                box-shadow:
                    rgba(0, 0, 0, 0.4) 0 0px 0px,
                    rgba(96, 96, 160) 0 6px 0px;

                &:hover {
                    transform: translateY(-8px);
                    box-shadow:
                        rgba(0, 0, 0, 0.4) 0 4px 8px,
                        rgba(96, 96, 160) 0 8px 0px;
                }
            }

            &[data-start] {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="%23d04000"><path d="M480.276-62Q393-62 317.013-94.584q-75.988-32.583-132.917-89.512T94.584-316.971Q62-392.917 62-480.458 62-568 94.584-643.487q32.583-75.488 89.512-132.417t132.875-89.512Q392.917-898 480.458-898q87.542 0 163.029 32.584 75.488 32.583 132.417 89.512t89.512 132.641Q898-567.551 898-480.276q0 87.276-32.584 163.263-32.583 75.988-89.512 132.917T643.263-94.584Q567.551-62 480.276-62ZM480-180q126 0 213-87t87-213q0-126-87-213t-213-87q-126 0-213 87t-87 213q0 126 87 213t213 87Zm0-300Z"/></svg>');
                background-size: 90%;
            }

            &[data-end] {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="%23d04000"><path d="m291-208-83-83 189-189-189-189 83-83 189 189 189-189 83 83-189 189 189 189-83 83-189-189-189 189Z"/></svg>');
                background-size: 100%;
            }

            &[data-valid] {
                background-color: rgba(0, 128, 0);
                border-color: rgba(0, 112, 0);
                animation: bump 500ms ease-out 1;
            }

            &[data-invalid] {
                background-color: rgba(208, 0, 0);
                border-color: rgba(180, 0, 0);
                animation: bump 500ms ease-out 1;

                &[data-wall] {
                    box-shadow:
                        rgba(0, 0, 0, 0.4) 0 0px 0px,
                        rgba(208, 64, 64) 0 6px 0px;

                    &:hover {
                        box-shadow:
                            rgba(0, 0, 0, 0.4) 0 4px 8px,
                            rgba(208, 64, 64) 0 8px 0px;
                    }
                }
            }
        }
    }
}

@keyframes bump {
    0% {
        translate: 0 0;
    }
    10% {
        translate: 0 8px;
    }
    20% {
        translate: 0 0px;
    }
    40% {
        translate: 0 -8px;
    }
    60% {
        translate: 0 0px;
    }
    50% {
        translate: 0 4px;
    }
    60% {
        translate: 0 0px;
    }
    70% {
        translate: 0 -4px;
    }
    80% {
        translate: 0 0px;
    }
    90% {
        translate: 0 -2px;
    }
    100% {
        translate: 0 0;
    }
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 800px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.button {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow:
        rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: monospace;
    height: 42px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition:
        box-shadow 0.15s,
        transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;

    &:focus {
        box-shadow:
            #d6d6e7 0 0 0 1.5px inset,
            rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
    }

    &:hover {
        box-shadow:
            rgba(45, 35, 66, 0.4) 0 4px 8px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
    }
}

.log-section:has(.log-container:empty) {
    display: none;
}

.log-container {
    display: flex;
    flex-direction: column;

    font-size: 90%;
    gap: 1rem;

    > * {
        display: flex;
        flex-direction: column;
    }

    .time {
        font-size: 90%;
        opacity: 0.5;
    }

    .solution {
        word-break: break-all;
        color: green;
    }

    .output:has(+ .error) .solution {
        color: red;
    }

    .error {
        overflow: auto;
        color: red;
    }
}
